.user_container {
	display: flex;
	align-items: center;
	padding: 20px 0 20px 0;
	border-bottom: 2px solid var(--blue);
	cursor: pointer;
}

.user_subcontainer {
	display: flex;
	align-items: center;
	width: 90%;
	min-width: 200px;
}

.avatar_container {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin-right: 10px;
}

.img_alt {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox_container {
	width: 10%;
	text-align: end;
}

.male {
	border: 2px solid var(--blue);
	color: rgb(12, 45, 105);
	background: var(--blue);
	font-weight: 600;
	font-size: 18px;
}

.female {
	border: 2px solid var(--pink);
	color: rgb(12, 45, 105);
	background: var(--pink);
	font-weight: 600;
	font-size: 18px;
}

.male_text {
	color: var(--blue);
	font-weight: 500;
}

.female_text {
	color: var(--pink);
	font-weight: 500;
}
