.list_loading {
	color: white;
	text-align: center;
	margin-top: 100px;
}

.filter_input {
	width: 100%;
	padding: 10px 15px;
	font-family: 'jost';
	font-size: 18px;
}

.filter_input:focus {
	outline: thin dotted white;
}
