@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600&display=swap');

:root {
	--blue: rgb(166, 193, 255);
	--pink: rgb(255, 134, 154);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(12, 45, 105);
	margin: 0;
	font-family: 'Jost', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	margin: 30px auto;
	max-width: 800px;
	width: 90%;
}
